.TaskList{

}

.btn{
    cursor: pointer;
    padding: 0.7rem 0.5rem 0.7rem;
}
.TaskList-btn-group{
   display:flex;
   margin-top: 10px;
   justify-content: flex-start;
   padding: 1rem 1rem 0.7rem;
   /* width:100%; */
}

.TaskList-toggle-btn{
    width:165px;
    border-color: rgb(211, 211, 211);
    background-color: white;
    font-size:18px;
    border-width: 1px;
    margin-right:10px;
 }